
.recipeHeading{
    background-color:green;
    color:white; 
    font-size:50px;
    font-weight:200;
    margin-left:auto;
    margin-right:auto;
}

footer{
    background-color:green;
    color:white; 
    font-size:30px;
}

.recipe-picture{
    width:400px;
    height:400px;
}
.recipes-container{
   


     display:flex;
     flex-wrap:wrap;
     
    
}

.recipe-item-container{
    
    
    
    width:400px;
    height:500px;
    margin-right:20px;
   margin-bottom:20px;
    
}
.recipe-title{
    font-size:20px;
    color:white;
    background-color:green;
}

.addButton{
    font-size:30px;
    background-color:lightslategray;
    display:inline;
}

.recipe-ing{
    background-color:deepskyblue;
    border: 2px blue solid;
    border-radius:5px;
    width:75%;
    font-size:30px;
    font:helvetica, sans-serif;
    margin-bottom:10px;

}

.btn{
    font-size:30px;
    background-color:green;
    width:200px;
}

.formLabel{
    font:helvetica,sans-serif;
    font-size:20px;
    background-color:grey;
    border:1px solid darkgray;

}

.formInput{
    font-size:20px;
    border:1px solid black;
    width:300px;
}

.textArea{
    width:300px;
    height:400px;
    font-size:20px;
    border:1px solid black
}